@font-face {
    font-family: '210 Agichamsae L';
    src: url('TTAgichamsaeL.woff2') format('woff2'),
        url('TTAgichamsaeL.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '210 Agichamsae R';
    src: url('TTAgichamsaeR.woff2') format('woff2'),
        url('TTAgichamsaeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '210 Agichamsae B';
    src: url('TTAgichamsaeB.woff2') format('woff2'),
        url('TTAgichamsaeB.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

